# Thanks Zirconnium

[Unit]
Description=Preinstall Flatpaks
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=!/var/lib/larimar/preinstall-finished
Documentation=man:flatpak-preinstall(1)

[Service]
Type=oneshot
ExecStart=mkdir -p /var/lib/larimar
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/flatpak preinstall -y --noninteractive --system
ExecStart=touch /var/lib/larimar/preinstall-finished
RemainAfterExit=true
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
